<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WeLearn CMS</a>
    </div>

    <div class="collapse navbar-collapse">
      <div class="navbar-nav">
        <li routerLinkActive="active">
          <a class="nav-link" routerLink="/documents">Documents</a>
        </li>
        <li routerLinkActive="active">
          <a class="nav-link" routerLink="/messages">Messages</a>
        </li>
        <li routerLinkActive="active">
          <a class="nav-link" routerLink="/contacts">Contacts</a>
        </li>
      </div>
    </div>
  </div>
</nav>
