<div class="">
  <div class="col-md-12">
    <!--panel header-->
    <div class="panel panel-default text-center">
      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <span class="title pad-left-right">Contacts</span>
              </div>
              <div class="row">
                <div class="input-group pull-left pad-left-right col-xs-7">
                  <input
                    (keyup)="search(searchBox.value)"
                    placeholder="Enter a search value"
                    #searchBox
                  />
                  <div
                    class="glyphicon glyphicon-search input-group-addon"
                    (click)="search(searchBox.value)"
                  ></div>
                </div>
                <div class="pull-right pad-left-right">
                  <a class="btn btn-success" [routerLink]="['new']"
                    >New Contact</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--panel body-->
    <div
      cdkDropList
      #allContactsList="cdkDropList"
      [cdkDropListData]="contacts"
      [cdkDropListConnectedTo]="['groupList']"
      (cdkDropListDropped)="onDrop($event)"
    >
      <app-contact-item
        *ngFor="let contact of contacts | contactsFilter : term"
        [contact]="contact"
        cdkDrag
      ></app-contact-item>
    </div>
  </div>
</div>
