<div class="">
  <div class="col-md-12">
    <!--panel header-->
    <div class="panel panel-default text-center">
      <div class="panel-heading clearfix">
        <h3 class="pull-left panel-title">Contacts</h3>
        <a href="#" class="btn btn-success pull-right" [routerLink]="['new']"
          >New Contact</a
        >
      </div>
    </div>

    <!--panel body-->
    <div
      cdkDropList
      #allContactsList="cdkDropList"
      [cdkDropListData]="contacts"
      [cdkDropListConnectedTo]="['groupList']"
      (cdkDropListDropped)="onDrop($event)"
    >
      <app-contact-item
        *ngFor="let contact of contacts"
        [contact]="contact"
        cdkDrag
      ></app-contact-item>
    </div>
  </div>
</div>
