.center-panel {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
}

.pad-left-right {
  padding-left: 1rem;
  padding-right: 1rem;
}
